* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
}

.login-container {
    /*background-color: grey;*/
    width: 350px;
    height: 90%;
    min-height: 800px;
    margin: auto;
    padding: 0 50px 50px;
    box-sizing: border-box;
    text-align: center;
}

.login-container img {
    width: 100%;
}

.login-container input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px;
    font-size: 11px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container input[type="submit"] {
    background-color: lightskyblue;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin: 15px 0 25px;
}