* {
    margin: 0;
}

body {
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 348px;
    height: 374px;
    background-color: #fff;
}

.Login {
    text-align: center;
    padding-top: 30px;
}

input[type=email], input[type=password] {
    width: 85%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #f1f1f1;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::placeholder {
    font-size: 12px;
    color: grey;
}

.login-btn {
    width: 85%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 15px;
    background-color: skyblue;
    color: #fff;
    font-size: 13px;
}

