* {
    margin: 0;
}

.card-container {
    width: 90%;
    margin: 20px auto;
    background-color: skyblue;
    border-radius: 4px;
}

.hero-image {
    height: 170px;
    background-color: blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.name-title {
    padding: 20px 10px;
    color: white;
}

.name {
   margin-bottom: 5px;
}

.title {
    font-size: 10px;
}